Package: WFAPITestClient
Version: #ver#
Architecture: armel
Section: user/Navigation
Installed-Size: #instsize#
Depends: maemo-installer-utils
Maintainer: root <root@wayfinder.com>
Description: Wayfinder C++ Core API GTK+-2.0 test client
Maemo-Icon-26: 
 iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAIAAAAmKNuZAAAACXBIWXMAAAsT
 AAALEwEAmpwYAAAAB3RJTUUH2QkSDSUJlxLhMgAABLlJREFUSMfNlftPFFcU
 x8+5M/fOzM4sOMvCFopudtX6FlprfRVQYlwLsbU/4CPVFJsmjVrrP9L0B1ut
 tdUf2tgmPorESlBA1LQgFoqvCojCorDLZmEXXJF9zMztDwhSRPuLP/T8cG5u
 7jmf+8r5HuScw6szAq/UxLEhmUx29XRVX66ubagJhAOmabqcrjVvrdlaus2d
 61YUBQBM0wyFQpUXKs/UVwRTQSMjJQ8qc/S5W3xl69YU67pOCEHOeSwWq7pY
 dfiPw/659+KrRi2XBQRIlIg3aW6je9eyT8p8ZZIkXb95/eDZb1qdLXyT6XQ6
 JZTiRjzaGRVrpU3aB7vLdufk5GAikai8UPlV65f9GwNpc+wZJMOOdgFFgxsR
 KxIMBvR658dpuzKlzGOtR/vWPpi9bPYKZaWOOkMmgBCyQpci9f6TPZ9qn+3d
 sRfbOu7sP/bF/bK7s+bM0tHBkFGgDBkDJgId4tH2QAf5TRAfirGSR6uWr1wo
 L1LQxoAxpBQYBTrAw7/0/zx8JHaw7FvBvcBdk1Wd825ONslRUJFRVlCRUVFQ
 sRFbBnFmaZm9tofDnqGC/IKlap5G7Aoq4zGyTJQs4hIVseVJi3xDFohOIjvC
 C9MX2dA2ARqDKqgoKDuIw+7QPDnepUp+OqY9WwVFfurlmWRmdVpV4FhIDFpB
 W5aSjukUKQXGkI17KgGjyCjQJVIeBWZDhQJlKDGYiKQMGEWqoz5vxoJ24a6Y
 zBy1oayhRoFSZAzYuKcSMAqMIn26B1CKlIE0GTThNaIamSmRPpYIJyqqIlIG
 /8KNT6fiRBTGPuFpDDIGkmVZbEAWPdzTFeq03JxN3HSCNX4KESgHnoKkyS0T
 LbSAoUSBSiBx5ASEJ3zIH/TPlHPJhgKfUW/dMzsBAAAnVwwHHueJMA8/tB70
 mN3dZrff7Hpg+sM8/IgPj/LRFE9Z3DK5cfbJmaG6R5t9m4mv0LckmNfe2t5n
 9QE8k4MET/SY/tvmrTbjTpd5v5/3x3jMAGNKkZpg1KfqTjWeXBha5CvcSNyz
 3OVF5dq59Kbmq13mfQssABiwBpqN5r/N2wGzb4SPmNyctuBHYOT8aPXRhqPp
 fzr2lO5xZblESmnRqqJUKvV97XcX4xeHVgzpoqPP6k1CyoaKCtqLxGOQD1RF
 zzXVNL3ROW9Pyedv5y8XBAHH9M4wjBu3bxw6fuj3168kSkezndkZQoYd7Spo
 KqoqqipRVVA11FRUGbKOZMfp7lNwgrwnl5ZvL/e4PYIgAABOls9oNFpRUXGy
 7cTN9X9lLXZ57V4dHVNwJhgNkcarVxrzm5btKN7p8/kYYxMEfF6Nr127dvzX
 43WeC1gA83MXZJNsDTWVqDZQHvPHl7ovDdZF3h/5sHxrudfrnZKL04r74ODg
 6YrTP4V/jKwNL56/xMu8GtEGrHBDW4P9fPrW17Zv27LNbrc/n4gv6hXxeLyq
 puqHliOBd3rzV+fbaVrzreYZV/S9efvWF62XZXnaLHxJ60kmk3WX6w42fh0o
 7hVUwVHr3Pfm/g2FGyY/1vS9YlpjjBUXFltoHag+EI1FPirYWby6+CWs/8AB
 gCRJ61av6+vpGx4aLllbYrPZXh6P/+s++w/ZIO1WDb9DxwAAAABJRU5ErkJg
 gg==
